* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f6d200;
  --color-grey: #ededed;
  --color-dark: #000;
  --color-white: #fff;
}

body {
  background-color: var(--color-grey);
  line-height: 1.5;
  font-family: 'Asap', sans-serif;
  font-optical-sizing: auto;
}

ul {
  list-style: none;
}

a:is(:link, :visited) {
  text-decoration: none;
  color: var(--color-dark);
}

.header {
  height: 400px;
  background-color: var(--color-dark);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
}

.site-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-info h1 {
  text-transform: uppercase;
}

.site-info p {
  font-style: italic;
}

.navbar {
  background-color: var(--color-primary);
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar ul li a:is(:link, :visited) {
  padding: 10px;
  display: block;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.navbar ul li a:is(:hover, :focus, :active) {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

.content-area {
  display: flex;
  flex-direction: column;
}

.main-content-area {
  padding: 10px;
}

/* POST SECTION CSS  */
.post {
  background-color: var(--color-white);
  margin-bottom: 20px;
  position: relative;
}

.post figure {
  display: flex;
  flex-direction: column;
}

.post img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.post h2 {
  background-color: var(--color-primary);
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
}

.post p {
  padding: 20px;
}

.post > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
  }
  .navbar ul li {
    flex-grow: 1;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    justify-content: space-between;
  }

  .post {
    width: 49%;
  }
}

@media all and (min-width: 1180px) {
  .content-area {
    flex-direction: row;
  }

  .sidebar-section {
    flex: 0 0 400px;
  }
  .main-content-area {
    flex-grow: 1;
  }

  .oneThird.post{
    width: 32%;
  }
   .one.post{
    flex-grow: 1;
  }
}
